<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/go-login.css">
    <title>Document</title>
</head>
<body>
    <script>if(localStorage.getItem('theme')==='dark')document.body.classList.add('dark');</script>
        <box>
        <div class="login">
            <h2 class="gg">회원가입 완료</h2>
            <h3>로그인 페이지로 돌아가 로그인을 완료하세요</h3>
            <a class = "btn" href = "/">
                <button>로그인 페이지로 바로가기</button>
            </a>
            
        </div>
    </box>
</body>
</html>